.body {
    padding-top: 50px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #202020;
    display: block;
}

.header {
    position: fixed;
    width: 100%;
    height: 49px;
    top: 0px;
    border-bottom: solid 1px #c5c5c5;
    background-color: rgb(185, 182, 160);
    z-index: 10;
    display: block;
}

.headerContentContainer {
    position: fixed;
    width: 80%;
    height: 49px;
    top: 0px;
    padding: 0px 15px 0px 15px;
    margin: 0% 10% 0% 10%;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

nav {
    display: block;
    padding-top: 10px;
}

.link {
    visibility: visible;
    display: inline-block;
    color: black;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
    border: solid 1px;
}

.content {
    display: block;
}

.contentBlock {
    margin-bottom: 75px;
    width: 80%;
    height: auto;
    padding: 0px 15px 0px 15px;
    margin: 0% 10% 0% 10%;
    box-sizing: border-box;
    display: block;
    background-color: #ebf1ee;
}

.codeWrapper {
    /* margin-top: 30px; */
    width: fit-content;
    display: inline-block;
    border-radius: 4px;
    /* border: solid 1px #505050; */
    background-color: rgb(226, 226, 226);
}

.codeWrapperBlock {
    width: fit-content;
    display: inline-block;
    border-radius: 4px;
    margin-left: 2.5em;
    /* border: solid 1px #505050; */
    background-color: rgb(226, 226, 226);
}

.tab {
    margin-left: 2.5em;
}

pre {
    margin: 0px;
    display: inline-block;
}

.functionName {
    color: rgb(0, 163, 109);
    font-size: large;
}

.subTitle {
    /* margin-left: 2.5em; */
    color: rgb(169, 177, 100);
    font-weight: bold;
}

.divider {
    border-top: 1px solid #bbb;
}