#canvasContainer1 {
    max-width: 50%;
    border: 2px solid;
}

#trayContainer1 {
    max-width: 50%;
    border: 2px solid;
}

#canvasContainer2 {
    max-width: 80%;
}

#trayContainer2 {
    max-width: 100%;
}