#canvasContainer1 {
    /* min-width: 200px;
    min-height: 500px; */
    max-width: 80%;
}

#trayContainer1 {
    max-width: 100%;
    /* min-height: 100px; */
}

#canvasContainer2 {
    min-width: 200px;
    min-height: 500px;
}

#trayContainer2 {
    width: 50%;
    min-height: 100px;
}