.puzzleGridCanvas {
    overflow: scroll;
    float: left;
    width: 100%;
    height: 100%;
    border: 2px solid;
    display: grid;
    gap: 4px;
}

.puzzleMatchingCanvas {
    overflow: scroll;
    /* float: left; */
    width: 100%;
    height: 200px;
    border: 2px solid;
    display: block;
    gap: 4px;
}

.piecesTray {
    overflow: scroll;
    float: left;
    /* max-width: 100%; */
    width: 100%;
    height: 100%;
    /* margin = "55px 15px 15px 15px" */
    border: 2px solid;
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-template-rows: repeat(" + (numRows * numCols).toString() + ", 1fr) */
    gap: 4px;
}